<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="game">Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="media">Media</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="">Astro-Doge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.reddit.com/r/dogecoin/" target="_blank" rel="noopener noreferrer"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fd2.alternativeto.net%2Fdist%2Ficons%2Freddit_118733.png%3Fwidth%3D36%26height%3D36%26mode%3Dcrop%26upscale%3Dfalse&f=1&nofb=1"></a>
            </li>
        </ul>
    </div>
</nav>
