/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body,
html{
  background-image: url("./assets/Images/stars-wallpaper.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  }